.container {
  padding: 20px;
}

.control {
  display: flex;
  margin-bottom: 10px;

  > div {
    margin-right: 20px;
    border-right: solid 2px rgba(255, 255, 255, 0.25);
  }
}

td {
  padding-right: 10px;
}

table {
  padding-right: 10px;
}

.datepicker {
  height: 28px;
}

.btn-compare {
  height: fit-content;
}

.input-compare-container {
  > input {
    margin-top: 12px;
    margin-right: 10px;
  }
}

.champ-select {
  padding-right: 20px;
}
