<div *ngIf="!summoner" class="loading-bar"></div>

<div *ngIf="summoner" class="summoner-info">
  <img
    src="https://ddragon.leagueoflegends.com/cdn/10.1.1/img/profileicon/{{ summoner.profileIconId }}.png"
    width="150"
    height="150"
  />
  <div class="data">
    <div class="flex">
      <h1>{{ summoner.name }}</h1>
      <p class="embed summoner-lvl">LvL {{ summoner.summonerLevel }}</p>
    </div>
    <div class="status">
      <p *ngIf="summoner.registered && summoner.watch" class="badge success">WATCHING</p>
      <p *ngIf="summoner.registered && !summoner.watch" class="badge info">NOT WATCHING</p>
      <p *ngIf="!summoner.registered" class="badge">NOT REGISTERED</p>
      <p *ngIf="!summoner.registered" class="badge">NOT REGISTERED</p>
    </div>
    <div class="control">
      <button *ngIf="summoner.registered" (click)="onDetailedClick()">► DETAILED STATISTICS</button>
      <button *ngIf="!summoner.registered" (click)="onWatchClick()">REGISTER NOW</button>
      <button *ngIf="summoner.registered && !summoner.watch" (click)="onWatchClick()">WATCH ME</button>
      <button *ngIf="summoner.registered && summoner.watch" (click)="onUnwatchClick()">UNWATCH ME</button>
    </div>
  </div>
</div>

<div class="champ-stats">
  <div class="flex">
    <h1>Mastery Points</h1>
    <button (click)="verticalChart = !verticalChart" class="btn-flip-chart">FLIP CHART</button>
  </div>
  <div *ngIf="isData === true">
    <p class="last-updated minor">Top 30 | Last updated: {{ lastUpdated | dateTime }}</p>
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="true"
      [chartType]="verticalChart ? 'bar' : 'horizontalBar'"
      height="115">
    </canvas>
  </div>
  <i *ngIf="isData === false">We don't have collected any data from {{ summoner?.name }} :(</i>
</div>

