h1, p {
  margin: 0;
}

.summoner-info {
  display: flex;
  padding: 20px;

  .data {
    margin-left: 30px;
  }
}

.summoner-lvl {
  margin: auto 0 auto 20px;
}

.status {
  margin-top: 10px;
}

.champ-stats {
  display: block;
  padding: 20px;
  height: 300px;

  > h1 {
    margin-bottom: 20px;
  }
}

.last-updated {
  margin: 0 0 20px 3px;
}

.control {
  margin-top: 20px;
  button {
    margin-right: 10px;
  }
}

.btn-flip-chart {
  margin-left: auto;
}
