@import 'vars.scss';

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

button {

}

input[type='text'], input[type='password'] {
  border: none;
  border-left: solid 2px $c-accent;
  background-color: rgba(0, 0, 0, 0.25);
  padding: .5em 1em;
  color: white;
  outline: none;
  transition: all .25s ease;

  &:focus {
    box-shadow: rgb(0, 0, 0, 0.25) 0px 5px 10px;
  }
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.embed {
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 5px;
}

.flex {
  display: flex;
}
