@import 'vars.scss';

@keyframes loading-bar-animation {
  0% {
    margin-right: 100%;
    margin-left: 0%;
    width: 0%;
  }

  50% {
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
  }

  100% {
    margin-right: 0%;
    margin-left: 100%;
    width: 0%;
  }
}

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  padding: 0.7em 1.5em;
  background-color: rgba($c-accent, 0.75);
  color: white;
  cursor: pointer;
  transition: all .25s ease;

  &:hover {
    background-color: $c-accent;
    box-shadow: rgb(0, 0, 0, 0.25) 0px 5px 10px;
  }
}

input[type='text'], input[type='password'] {
  border: none;
  border-left: solid 2px $c-accent;
  background-color: rgba(0, 0, 0, 0.25);
  padding: .5em 1em;
  color: white;
  outline: none;
  transition: all .25s ease;

  &:focus {
    box-shadow: rgb(0, 0, 0, 0.25) 0px 5px 10px;
    border-left: solid 4px $c-accent;
  }
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button.accent {
  background-color: rgba($c-accent, .75);

  &:hover {
    background-color: rgba($c-accent, 1);
  }
}

.embed {
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.flex {
  display: flex;
}

.notification-bar {
  bottom: -20px;
  opacity: 0;

  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  height: fit-content;
  text-align: center;
  transition: all .25s ease;

  > p {
    margin: 10px 0px;
  }
}

.notification-bar.active {
  bottom: 0px;
  opacity: 1;
}

.loading-bar {
  margin-top: 30px;
  height: 3px;
  background-color: $c-accent;

  animation: loading-bar-animation 1.5s ease infinite;
}

.badge {
  padding: 5px 15px;
  border: solid 2px;
  width: fit-content;
  height: fit-content;

  background-color: rgba(white, 0.35);
  border-color: white;
}

.badge.info {
  background-color: rgba($c-info, 0.35);
  border-color: $c-info;
}

.badge.error {
  background-color: rgba($c-error, 0.35);
  border-color: $c-error;
}

.badge.warning {
  background-color: rgba($c-warning, 0.35);
  border-color: $c-warning;
}

.badge.success {
  background-color: rgba($c-success, 0.35);
  border-color: $c-success;
}

.minor {
  font-size: 0.8em;
  color: #b8b8b8;
}
