@import '../../../styles/vars.scss';

@keyframes animation {
  0% {
    width: 0%;
    margin-right: 100%;
    margin-left: 0%;
  }
  50% {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }
  100% {
    width: 0%;
    margin-right: 0%;
    margin-left: 100%;
  }
}

.bar {
  width: 0%;
  height: 5px;
  background-color: $c-accent;
}

.active {
  animation: animation 1.5s ease infinite;
}
