@import '../../../styles/vars.scss';

.summoner-search {
  margin: 30vh auto;
  position: relative;

  > input {
    font-size: 30px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    width: 90vw;
    max-width: 1000px;
    text-align: center;
  }

  > button {
    position: absolute;
    height: 70px;
    width: 70px;
    right: 0px;
  }
}

.recently {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  p {
    margin: 0;
  }

  > div {
    display: flex;
    margin: 0;
    padding: 16px;
    cursor: pointer;
    transition: all .25s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);

      > span {
        opacity: .75;
      }
    }

    > span {
      padding: 2px 5px;
      opacity: 0;
      margin: auto 0 auto auto;
      background-color: $c-error;
      transition: all .25s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}
