
<div class="container">

  <div class="head">
    <img src="assets/logo/logo.svg"/>
    <br/>
    <strong>League of Legends mastery points: supercharged analytics tool</strong>

    <div class="cards-container">
      <a class="card" href="https://github.com/zekroTJA/supercharge" target="_blank">
        <img src="assets/icons/github.png" width="40"/>
        <p>Open source on GitHub</p>
      </a>
      <a class="card" href="https://hub.docker.com/u/supercharge" target="_blank">
        <img src="assets/icons/docker.png" width="40"/>
        <p>Docker images ready for deploy</p>
      </a>
      <a class="card" href="https://stackshare.io/zekroTJA/supercharge" target="_blank">
        <img src="assets/icons/stackshare.png" width="40"/>
        <p>View used stacks on stackshare</p>
      </a>
    </div>
  </div>

  <!--
  Whoops.
  <p>
    Lorem Ipsum i like fluffy butts
  </p>
  -->

  <div *ngIf="status">
    <h1>Instance Information</h1>

    <table>
      <tbody>
        <tr>
          <td class="key">Registered Users:</td>
          <td class="val">{{ status.counts.users }}</td>
        </tr>
        <tr>
          <td class="key">Watching Users:</td>
          <td class="val">{{ status.counts.usersWatching }}</td>
        </tr>
        <tr>
          <td class="key">Collected Points Entries:</td>
          <td class="val">{{ status.counts.points }}</td>
        </tr>
        <tr>
          <td class="key">Collected Points Log Entries:</td>
          <td class="val">{{ status.counts.pointsLog }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
