
<div class="container">

  <div class="head">
    <img src="assets/logo/logo.svg"/>
    <br/>
    <strong>League of Legends mastery points: supercharged analytics tool</strong>

    <div class="cards-container">
      <a class="card" href="https://github.com/zekroTJA/supercharge" target="_blank">
        <img src="assets/icons/github.png" width="40"/>
        <p>Open source on GitHub</p>
      </a>
      <a class="card" href="https://hub.docker.com/u/supercharge" target="_blank">
        <img src="assets/icons/docker.png" width="40"/>
        <p>Docker images ready for deploy</p>
      </a>
      <a class="card" href="https://stackshare.io/zekroTJA/supercharge" target="_blank">
        <img src="assets/icons/stackshare.png" width="40"/>
        <p>View used stacks on stackshare</p>
      </a>
    </div>
  </div>

  <!--
  Whoops.
  <p>
    Lorem Ipsum i like fluffy butts
  </p>
  -->

  <div>
    <h1>Instance Information</h1>

    <div class="info-tables">
      <table *ngIf="versions">
        <thead><tr><td colspan="2">Assembly Versions</td></tr></thead>
        <tbody>
          <tr>
            <td class="key">RestAPI:</td>
            <td class="val">{{ versions.restApi }}</td>
          </tr>
          <tr>
            <td class="key">DatabaseAccessLayer:</td>
            <td class="val">{{ versions.databaseAccessLayer }}</td>
          </tr>
          <tr>
            <td class="key">DataDragonAccessLayer:</td>
            <td class="val">{{ versions.ddragonAccessLayer }}</td>
          </tr>
          <tr>
            <td class="key">RiotAPIAccessLayer:</td>
            <td class="val">{{ versions.riotApiAccessLayer }}</td>
          </tr>
          <tr>
            <td class="key">Shared:</td>
            <td class="val">{{ versions.shared }}</td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="counts">
        <thead><tr><td colspan="2">Database Stats</td></tr></thead>
        <tbody>
          <tr>
            <td class="key">Registered Users:</td>
            <td class="val">{{ counts.users }}</td>
          </tr>
          <tr>
            <td class="key">Watching Users:</td>
            <td class="val">{{ counts.usersWatching }}</td>
          </tr>
          <tr>
            <td class="key">Collected Points Entries:</td>
            <td class="val">{{ counts.points }}</td>
          </tr>
          <tr>
            <td class="key">Collected Points Log Entries:</td>
            <td class="val">{{ counts.pointsLog }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
