
<div class="container">

  <div class="head">
    <img src="assets/logo/logo.svg"/>
    <br/>
    <strong>League of Legends mastery points: supercharged analytics tool</strong>

    <div class="cards-container">
      <div class="card">
        <img src="assets/icons/github.png" width="40"/>
        <p>Open source on GitHub</p>
      </div>
      <div class="card">
        <img src="assets/icons/docker.png" width="40"/>
        <p>Docker images ready for deploy</p>
      </div>
    </div>

    <p>Lorem Ipsum i like fluffy butts</p>

  </div>

</div>
